@use "../../styles/vars" as v;

.loader-container {
  height: 100vh;
  background-color: v.c(b1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: v.c(w1);
  box-shadow: 32px 0 v.c(w1), -32px 0 v.c(w1);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: v.c(grey1);
    box-shadow: 32px 0 v.c(grey1), -32px 0 v.c(w1);
  }
  50% {
    background-color: v.c(w1);
    box-shadow: 32px 0 v.c(grey1), -32px 0 v.c(grey1);
  }
  100% {
    background-color: v.c(grey1);
    box-shadow: 32px 0 v.c(w1), -32px 0 v.c(grey1);
  }
}
